<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bootdemo.dao.StudentMapper">
    <resultMap id="studentResultMap" type="com.example.bootdemo.entities.Student">
        <id property="id" column="ID"/>
        <result property="name" column="Name"/>
        <result property="sex" column="Sex"/>
    </resultMap>

    <!--mapper functions-->
    <!--query student by id-->
    <select id="getStudent" parameterType="Integer" resultType="com.example.bootdemo.entities.Student" resultMap="studentResultMap">
        SELECT * FROM STUDENT ST WHERE ST.ID = #{id}
    </select>
</mapper>